<div class="menu">
    <ul>
        <li><%= link_to :'Home', :controller => :student_ui,  :action => :index %>
        <li><%= link_to :'My Profile', :controller => :student_ui,  :action => :my_profile %>
        <li><%= link_to :'Edit Profile', :controller => :student_ui,  :action => :edit_profile %>
        <li><%= link_to :'All Courses', :controller => :student_ui,  :action => :all_courses %>
        <li><%= link_to :'My Courses', :controller => :student_ui,  :action => :my_courses %>
        <li><%= link_to :'Grades', :controller => :student_ui,  :action => :grades %>
        <li><%= link_to :'Logout', :controller => :sessions,  :action => :logout %>
    </ul>
</div>
<br clear="left"/>
<br><br><br>

<div class="blogs">
    <ul>
        <li>
            <div>
                <span class="time"> <%= @course.created_at %> </span>
                    <h1><b><%= @course.no %> - <%= @course.name %></b></h1>
                <p>
                    <%= @course.explain %>
                </p>
            </div>
        </li>
    </ul>
</div>

<h2><b> Lectures </b></h2>
<div class="blogs">
    <ul>
        <li>
          <% @lectures.each do |lecture| %>
            <div>
                <span class="time"> <%= lecture.created_at %> </span>
                <%= link_to :"#{lecture.name}", :controller => :student_ui, :action => :downloadFile, :name => lecture.name %><br>
            </div>
          <% end %>
        </li>
    </ul>
</div>

<h2><b> Projects </b></h2>
<div class="blogs">
  <ul>
    <% @projects.each do |project| %>
        <li>
          <div>
                <span class="time"> <%= project.created_at %> </span>
                <h4><b><%= project.name %></b></h4>
                <p>
                  <%= project.explain %>
                </p>

                <% @files.each do |file| %>
                    <% if file.project_no == project.id.to_s %>
                        <%= link_to :"#{file.name}", :controller => :student_ui, :action => :downloadFile, :name => file.name %>
                    <% end %>
                <% end %>

                <% @uploadedFile = Upload.find_by_project_no(project.id) %>
                <% if @uploadedFile %>
                    <br><br><b>Uploaded File :</b> <%= link_to :"#{@uploadedFile.file_name}", :controller => :student_ui, :action => :downloadFile, :name => @uploadedFile.file_name %>
                    &nbsp;<sub>( <%= @uploadedFile.created_at %> )</sub>
                <% else %>
                    <br>
                    <%= form_tag({:action => 'uploadFile'}, :multipart => true) do %>
                        <%= file_field 'upload', 'datafile' %>
                        <%= hidden_field_tag 'project_id', project.id %>
                        <%= submit_tag "Upload" %>
                    <% end %>
                <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</div>

