<div class="menu">
    <ul>
        <li><%= link_to :'Home', :controller => :student_ui,  :action => :index %></li>
        <li><%= link_to :'My Profile', :controller => :student_ui,  :action => :my_profile %></li>
        <li><%= link_to :'Edit Profile', :controller => :student_ui,  :action => :edit_profile %></li>
        <li><%= link_to :'All Courses', :controller => :student_ui,  :action => :all_courses %></li>
        <li><%= link_to :'My Courses', :controller => :student_ui,  :action => :my_courses %></li>
        <li><%= link_to :'Logout', :controller => :sessions,  :action => :logout %></li>
    </ul>
</div>
<%= image_tag(Student.find_by_student_number(session[:student_id]).profil_image, :size => "50x50", :alt => "Show Group", :style => "float:right;margin-right:10px;margin-top:10px;") %><br clear="left"/>
<p style="float:right;margin-right:-50px;margin-top:15px;"><b><%= Student.find_by_student_number(session[:student_id]).name %></b></p>

<%= image_tag(@student.profil_image, :size => "100x100", :alt => "Show Group", :style => "margin-left : 400px; margin-top : 40px;") %>


<div class="container_big">
<%= form_tag(:action => 'edit_profile_control') do %>
    <label>Profil Image:</label>
    <%= file_field_tag(:profil_image) %>

    <label>Student Number:</label>
    <%= text_field_tag(:student_number, @student.student_number) %>

    <label>Name:</label>
    <%= text_field_tag :name, @student.name %>

    <label>E-mail:</label>
    <%= text_field_tag :email, @student.email %>

    <label>Password:</label>
    <%= password_field_tag :password, @student.password %>

    <%= submit_tag('Update') %>
<% end %>
</div>
