<%= link_to :'Home', :controller => :student_ui,  :action => :index %><br>
<%= link_to :'My Profile', :controller => :student_ui,  :action => :my_profile %><br>
<%= link_to :'Edit Profile', :controller => :student_ui,  :action => :edit_profile %><br>
<%= link_to :'All Courses', :controller => :student_ui,  :action => :all_courses %><br>
<%= link_to :'My Courses', :controller => :student_ui,  :action => :my_courses %><br>

<%= link_to :'Logout', :controller => :sessions,  :action => :logout %><br>

<% @grades.each do |g| %>
    <p>
      Project Grade : <%= g.grade %>
    </p>
<% end %>

<p>
  Result : <%= @result %>
</p>

