<%= link_to :'Home', :controller => :student_ui,  :action => :index %><br>
<%= link_to :'My Profile', :controller => :student_ui,  :action => :my_profile %><br>
<%= link_to :'Edit Profile', :controller => :student_ui,  :action => :edit_profile %><br>
<%= link_to :'All Courses', :controller => :student_ui,  :action => :all_courses %><br>
<%= link_to :'My Courses', :controller => :student_ui,  :action => :my_courses %><br>

<%= link_to :'Logout', :controller => :sessions,  :action => :logout %><br>

<% @grades.each do |gr| %>
    <p>
      Project Grade : <%= gr.grade if gr.student_no == session[:student_id] and gr.course_no == session[:course_id].to_s %>
                      <% @result += gr.grade.to_f if gr.student_no == session[:student_id] and gr.course_no == session[:course_id].to_s %>
    </p>
<% end %>

<p>
  Result : <%= @result %>
</p>

