<%= link_to :'Home', :controller => :student_ui,  :action => :index %><br>
<%= link_to :'My Profile', :controller => :student_ui,  :action => :my_profile %><br>
<%= link_to :'Edit Profile', :controller => :student_ui,  :action => :edit_profile %><br>
<%= link_to :'All Courses', :controller => :student_ui,  :action => :all_courses %><br>
<%= link_to :'My Courses', :controller => :student_ui,  :action => :my_courses %><br>

<%= link_to :'Logout', :controller => :sessions,  :action => :logout %><br>

<h1> My Profile </h1>
<p>
    Profile Image : <%= image_tag(@student.profil_image, :size => "64x64", :alt => "Show Group") %>
</p>
<p>
     Name : <%= @student.name %>
</p>
<p>
    E-mail : <%= @student.email %>
</p>
    <% @courses.each do |course| %>
        Courses : <%= course.name %> <br>
    <% end %>
<hr>