<%= link_to :'Home', :controller => :teacher_ui,  :action => :index %><br>
<%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %><br>
<%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %><br>
<%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %><br>
<%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %><br>

<%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %><br>

<h1>Add Project</h1>
<%= form_tag(:action => 'add_project_control') do %>
    <p>
      Name : <%= text_field_tag(:name) %>
    </p>

    <p>
      Explain : <%= text_field_tag(:explain) %>
    </p>

    <%= submit_tag("Add") %>
<% end %>