<div class="menu" style="margin-left: 280px;">
  <ul>
    <li><%= link_to :'Home', :controller => :teacher_ui,  :action => :index %></li>
    <li><%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %></li>
    <li><%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %></li>
    <li><%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %></li>
    <li><%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %></li>
    <li><%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %></li>
  </ul>
</div>
<%= image_tag(Teacher.find(session[:teacher_id]).profil_image, :size => "50x50", :alt => "Show Group", :style => "float:right;margin-right:10px;margin-top:10px;") %><br clear="left"/>
<p style="float:right;margin-right:-50px;margin-top:10px;"><b><%= Teacher.find(session[:teacher_id]).name %></b></p>
<br clear="left"/>
<br>
<hr>
<div style="margin-left: 250px;margin-right: 250px;">
<div class="container_small">
  <%= form_tag(:action => 'update_grade') do %>
      <label>Enter new grade:</label>
      <%= text_field_tag(:grade_new) %>

      <%= hidden_field_tag :student_no, @student_no %>
      <%= hidden_field_tag :course_no, @course_no %>
      <%= hidden_field_tag :project_no, @project_no %>
      <%= hidden_field_tag :grade_old, @grade %>

      <%= submit_tag("Update") %>
  <% end %>
</div>
</div>