<div class="menu" style="margin-left: 280px;">
  <ul>
    <li><%= link_to :'Home', :controller => :teacher_ui,  :action => :index %></li>
    <li><%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %></li>
    <li><%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %></li>
    <li><%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %></li>
    <li><%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %></li>
    <li><%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %></li>
  </ul>
</div>
<%= image_tag(Teacher.find(session[:teacher_id]).profil_image, :size => "50x50", :alt => "Show Group", :style => "float:right;margin-right:10px;margin-top:10px;") %><br clear="left"/>
<p style="float:right;margin-right:-50px;margin-top:10px;"><b><%= Teacher.find(session[:teacher_id]).name %></b></p>
<br clear="left"/><br>
<hr>
<%= image_tag(@teacher.profil_image, :size => "100x100", :alt => "Show Group", :style => "margin-left : 400px; margin-top : 30px;") %>

<div class="container_large">
  <%= form_tag(:action => 'edit_profile_control') do %>
      <label>Profil Image:</label>
      <%= file_field_tag(:profil_image) %>

      <label>Name:</label>
      <%= text_field_tag :name, @teacher.name %>

      <label>E-mail:</label>
      <%= text_field_tag :email, @teacher.email %>

      <label>Password:</label>
      <%= password_field_tag :password, @teacher.password %>

      <%= submit_tag('Update') %>
  <% end %>
</div>