<div class="menu">
  <ul>
    <li><%= link_to :'Home', :controller => :teacher_ui,  :action => :index %></li>
    <li><%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %></li>
    <li><%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %></li>
    <li><%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %></li>
    <li><%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %></li>
    <li><%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %></li>
  </ul>
</div>
<br clear="left"/>
<br><br><br>

<h2><b>Enrol List</b></h2>
<% if @enrol_list.length > 0 %>
<p><%= link_to :'Accept All', :controller => :teacher_ui, :action => :accept_all_enrol %></p>
<% else %>
<p>No Request Found</p>
<% end %>

<% @enrol_list.each do |enrol| %>
    <p>
      Course No : <%= enrol.course_no %><br>
      <% @student = Student.find_by_student_number(enrol.student_no) %>
      Student Name : <%= @student.name %> <%= link_to :'Accept', :controller => :teacher_ui, :action => :accept_enrol, :student_no => enrol.student_no, :course_no => enrol.course_no %><br>
    </p>
    <hr>
<% end %>

<div class="blogs">
  <ul>
    <% @enrol_list.each do |enrol| %>
        <li>
          <div>
            <b><%= enrol.course_no %></b> -
            <% @student = Student.find_by_student_number(enrol.student_no) %>
            <b><%= @student.name %> - <%= link_to :'Accept', :controller => :teacher_ui, :action => :accept_enrol, :student_no => enrol.student_no, :course_no => enrol.course_no %></b>
          </div>
        </li>
    <% end %>
  </ul>
</div>