<div class="menu" style="margin-left: 280px;">
  <ul>
    <li><%= link_to :'Home', :controller => :teacher_ui,  :action => :index %></li>
    <li><%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %></li>
    <li><%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %></li>
    <li><%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %></li>
    <li><%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %></li>
    <li><%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %></li>
  </ul>
</div>
<%= image_tag(Teacher.find(session[:teacher_id]).profil_image, :size => "50x50", :alt => "Show Group", :style => "float:right;margin-right:10px;margin-top:10px;") %><br clear="left"/>
<p style="float:right;margin-right:-50px;margin-top:10px;"><b><%= Teacher.find(session[:teacher_id]).name %></b></p>
<br clear="left"/>
<br>
<hr>
<div style="margin-left: 250px;margin-right: 250px;">
<% @course_to_student_notes.each do |ctsn| %>
    <% if ctsn.student_no == @student.student_number and ctsn.course_no == @course.id.to_s %>
        <% @result = ctsn.note %>
    <% end %>
<% end %>

<div class="blogs">
  <ul>
    <li>
      <div>
        <%= image_tag(@student.profil_image, :size => "64x64", :alt => "Show Group") %>
        <br><b><%= @student.student_number %> - <%= @student.name %></b>
        <p>
          <%= @student.email %>
        </p>
      </div>
    </li>

<h2 style="background-color: #D4D5D6;padding-top: 15px;"><b> &nbsp;&nbsp;&nbsp;Projects</b></h2>

    <% @projects.zip(@grades).each do |project, grade| %>
        <li>
          <div>
            <span class="time"> <%= project.created_at %> </span>
            <h4><b><%= project.name %><br></b></h4>
            <p>
              <%= project.explain %>
            </p>
            <% @uploadedFile = Upload.find_by_project_no(project.id) %>
            <% if @uploadedFile %>
                &nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;<br><%= link_to :"#{@uploadedFile.file_name}", :controller => :student_ui, :action => :downloadFile, :name => @uploadedFile.file_name %><br>
            <% else %>
                <br>&nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;File not uploaded<br>
            <% end %>
            &nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;<b>Grade:</b>
            <% if grade.nil? %>
                <% @g = 'Not Graded' %>
            <% else %>
                <% @g = grade.grade %>
            <% end %>
            <%= @g %><br>
            <%= link_to :'Edit', :controller => :teacher_ui, :action => :edit_grade, :course_no => @course.id, :student_no => @student.student_number, :project_no => project.id, :grade => @g %><br>
          </div>
        </li>
    <% end %>
    <li>
      <div>
        <% if @result.nil? %>
            <h4><b>Course Note :</b></h4> Not Graded<br>
        <% else %>
            <h4><b>Course Note :</b></h4> <%= @result %><br>
        <% end %>
        <%= link_to :'Edit Course Note', :controller => :teacher_ui, :action => :edit_course_note, :course_no => @course.id, :student_no => @student.student_number %><br>
      </div>
    </li>
  </ul>
</div>
</div>



