<div class="menu">
  <ul>
    <li><%= link_to :'Home', :controller => :teacher_ui,  :action => :index %></li>
    <li><%= link_to :'My Profile', :controller => :teacher_ui,  :action => :my_profile %></li>
    <li><%= link_to :'Edit Profile', :controller => :teacher_ui,  :action => :edit_profile %></li>
    <li><%= link_to :'Enrol List', :controller => :teacher_ui,  :action => :enrol_list %></li>
    <li><%= link_to :'Grading', :controller => :teacher_ui,  :action => :grading %></li>
    <li><%= link_to :'Logout', :controller => :sessions_teacher,  :action => :logout_teacher %></li>
  </ul>
</div>
<br clear="left"/>
<br><br><br>


<% if @course %>
<div class="blogs">
    <ul>
        <li>
            <div>
                <span class="time"> <%= @course.created_at %> </span>
                <h1><b><%= @course.no %> - <%= @course.name %></b></h1>
                <p>
                    <%= @course.explain %>
                </p>
            </div>
        </li>
    </ul>
</div>

<h2><b> Lectures </b></h2>
<div class="blogs">
  <ul>
    <li>
      <div>
      <% @lectures.each do |lecture| %>
        <span class="time"> <%= lecture.created_at %> </span>
        <%= link_to :"#{lecture.name}", :controller => :student_ui, :action => :downloadFile, :name => lecture.name %><br>
      <% end %>
        <%= form_tag({:action => 'upload_lecture_file'}, :multipart => true) do %>
            <label>Select Lecture</label> : <%= file_field 'upload', 'datafile' %>
            <%= submit_tag "Upload" %>
        <% end %>
      </div>
    </li>
  </ul>
</div>

<h2><b> Projects </b></h2>
<div class="blogs">
  <ul>
    <% @projects.each do |project| %>
        <li>
          <div>
            <span class="time"> <%= project.created_at %> </span>
            <h4><b><%= project.name %></b></h4>
            <p>
              <%= project.explain %>
            </p>

            <% @files.each do |file| %>
                <% if file.project_no == project.id.to_s %>
                    <%= link_to :"#{file.name}", :controller => :student_ui, :action => :downloadFile, :name => file.name %>
                <% end %>
            <% end %>

            <%= form_tag({:action => 'upload_project_file'}, :multipart => true) do %>
                <label>Select Project File</label> : <%= file_field 'upload', 'datafile' %>
                <%= hidden_field_tag 'project_id', project.id %>
                <%= submit_tag "Upload" %>
            <% end %>
          </div>
        </li>
    <% end %>
    <li>
      <div>
        <b><%= link_to :'Add Project', :controller => :teacher_ui,  :action => :add_project %><br></b>
      </div>
    </li>
  </ul>
</div>

<% else %>
    <div class="blogs">
        <ul>
          <li>
            <div>
              <%= link_to :'Create new course', :controller => :teacher_ui,  :action => :create_new_course %>
            </div>
          </li>
        </ul>
    </div>
<% end %>